# Flutter
build/
.dart_tool/
.packages
.pub/
.pub-cache/
android/app/google-services.json
skill_renting_app/frontend.zip

# Node.js
backend/node_modules/
backend/.env
backend/config/firebase-key.json
backend/backend.zip

# Logs
*.log
